body {
  font-family: "font-family: 'Nunito Sans', sans-serif";
  margin: 0px;
}
h1{
  font-size: 50px;
}

p{
  font-size: 19px;
  color: #373a3a;
  text-align: justify;

}
h2{ 
  font-size: 40px;
  font-weight: bold;
  text-align: justify;

}
h3{
  font-size: 22px;
}
.sky-highlight {
  color:#4fbed1
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
  padding-bottom: 2px;
}
.half-width img {
  width: 80%;

}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 500px;
  padding-bottom: 100px;
}
.link-button{
  text-decoration: none;
  background-color: #30b1ce;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fcfcfc;
  text-shadow: 1px 1px 1px #d8d4d4;
  font-weight: 500;
  opacity: 0.7;
  transition: 1s;
  margin: 4px 2px;
  text-align: center;
}

.link-button:hover {
  background-color: #6bc720;
  box-shadow: 5px 5px 5px 4px #01141433;

}

.dream-area{
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;

}
.single-experience{
  box-shadow: 5px 5px 20px #c1cccc;
  border-radius: 5px;
  height: 80%;
}

.single-experience:hover{
  color: #e03ab1;
}
.experience-area{
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 5%;
  padding-left: 2%;
  padding-bottom: 5px;
}
#full-stack{
  border-left: 8px solid;
  border-image: linear-gradient(180deg, #63db42, #77eda0, #bfded6);
  border-image-slice: 1;
  transition: 1s;
}

#baby{
  border-left: 8px solid;
  border-image: linear-gradient(180deg, #4275f5, #85afcc, #85e4e6);
  border-image-slice: 1;
  transition: 1s;
}

#focus-name{
  transition: 1s;

}
#exp-transition{
  transition: 1s;}

#dream-transition{
    transition: 1s;
  }

footer p {
  text-align: center;
  font-size: 12;
  background-color: #c5c7c9;
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  margin-top: 80px;
}
